<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <a href="https://team3-housecoffee-backend.herokuapp.com/payment">付款測試頁面</a>
    </ul>
  </body>
</html>
